{
	"Name": "{{ name }}",
	"Slogan": "{{ slogan }}",
	{% if start_saver_video != "" %}"StartSaverVideo": "/opt/youcoub/data/{{ start_saver_video }}",
	{% endif %}{% if padding_video != "" %}"PaddingVideo": "/opt/youcoub/data/{{ padding_video }}",
	{% endif %}{% if end_saver_video != "" %}"EndSaverVideo": "/opt/youcoub/data/{{ end_saver_video }}",
	{% endif %}"ClipsTitlePattern": "{{ clips_title_pattern }}",
	"ClipsWidth": {{ clips_width }},
	"Clipsheight": {{ clips_height }},
	"ClipsDescription": "{{ clips_description }}",
	"ClipsLanguage": "{{ clips_language }}",
	"ClipsTags": "{{ clips_tags }}",
	"MainThumbFont": "{{ main_thumb_font }}",
	"SecondaryThumbFont": "{{ secondary_thumb_font }}",
	"EmailNotification": "{{ email_notification }}",
	"SavesPath": "/opt/youcoub/data",
	"LogsPath": "/opt/youcoub/logs",
	"UnfinishedPath": "/opt/youcoub/unfinished",
	"CredentialsOAuth2": "/opt/youcoub/data/{{ credentials_oauth2 }}",
	"CredentialsToken": "/opt/youcoub/data/{{ credentials_token }}",
	"Logo": "/opt/youcoub/data/{{ logo }}",
	"OrderBy": "{{ order_by }}",
	"BanNotFunny": {{ ban_not_funny }},
	"OneCoubSecLength": {{ one_coub_sec_length }},
	"DaysDepth": {{ days_depth }},
	"GetCoubs": {{ get_coubs }},
	"StartClipNumber": {{ start_clip_number }}
}
